@inject NavigationManager NavManager

<Container>
    <Row Class="mt-3 mb-3">
        <Button Color="Color.Danger" Clicked="@ShowModal">Delete All Saved Articles</Button>
    </Row>
    <Row Class="mb-3">
        <Button Color="Color.Primary" Clicked="VisitGitHubRepo">Visit GitHub Repo</Button>
    </Row>
    <Row>
        <Button Color="Color.Light" Clicked="SetTheme">Change Theme</Button>
    </Row>
</Container>

<Modal @ref="modalRef">
    <ModalBackdrop />
    <ModalContent IsCentered="true">
        <ModalHeader>
            <ModalTitle>Confirmation</ModalTitle>
            <CloseButton Clicked="CancelDelete" />
        </ModalHeader>
        <ModalBody>
            <p>Are you sure you want to delete all saved articles?</p>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Danger" Clicked="ConfirmDelete">Delete</Button>
            <Button Color="Color.Primary" Clicked="CancelDelete">Cancel</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {

    [Parameter]
    public EventCallback DeleteAllSavedArticles { get; set; }

    [Parameter]
    public EventCallback SetTheme { get; set; }

    private Modal modalRef;

    private void ShowModal()
    {
        modalRef.Show();
    }

    private void ConfirmDelete()
    {
        DeleteAllSavedArticles.InvokeAsync(null);
        modalRef.Hide();
    }

    private void CancelDelete()
    {
        modalRef.Hide();
    }

    private void VisitGitHubRepo()
    {
        NavManager.NavigateTo("https://github.com/andrewettensohn/BlazorNews");
    }

}
