@page "/about"
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="px-3">
    <div class="alert alert-success @alertDeletionSuccessCss mt-b" role="alert">
        Saved articles deleted!
    </div>
    <h3>About</h3>

    <h5>BlazorNews Version 1.0</h5>
    <p>App by Andrew Ettensohn using C# and Blazor. Released 2020 of August.</p>

    <a href="https://github.com/andrewettensohn/BlazorNews" class="btn btn-primary">Visit GitHub Repo</a>
    <button class="btn btn-danger" @onclick="DeleteAllSavedArticles">Delete Saved Articles</button>
</div>

@code {
    private string alertDeletionSuccessCss = "d-none";
    private async Task DeleteAllSavedArticles()
    {
        await localStorage.ClearAsync();
        alertDeletionSuccessCss = string.Empty;
    }

}
